apiVersion: v1
kind: Pod
metadata:
  name: configmap-pod
spec:
  containers:
    - name: configmap-container
      image: nginx:1.7.9
      envFrom:
        - configMapRef:
            name: demo-configmap